asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
Django==5.0
django-chartjs==2.3.0
django-paypal==2.0
idna==3.6
Pillow==10.1.0
pip==23.2.1
psycopg2==2.9.9
pytz==2023.3.post1
razorpay==1.4.1
requests==2.31.0
setuptools==65.5.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.1.0

