{% extends "userhome/base.html" %}
{% load static %}
{% block content %}
    <main class="main">
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">change Password</h3>
                                        </div>
                                        <form method="post" action="{% url 'change_password'%}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input type="password" required="required" name="current_password" placeholder="currect password">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" required="required" name="new_password" placeholder="New password">
                                            </div>
                                            <div class="form-group">
                                                <input required="required" type="password" name="confirm_password" placeholder="Confirm password">
                                            </div>
                                            <div class="login_footer form-group">
                                                <div class="chek-form">
                                                    <div class="custome-checkbox">
                                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                                        <label class="form-check-label" for="exampleCheckbox1"><span>Remember me</span></label>
                                                    </div>
                                                </div>
            
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up" href="{% url 'user_index'%}" name="login">submit</button>
                                            </div>
                                        </form>
                                        <div class="divider-text-center mt-15 mb-15">
                                            <span> or</span>
                                        </div>
                
                                        <div class="text-muted text-center"><a href="{% url 'user_account'%}">Dont want to change ? </a></div>
                                        {% if messages %}
                                            <div class="alert alert-danger">
                                                {% for message in messages %}
                                                    <strong>{{ message }}</strong><br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% comment %} <div class="col-lg-1"></div> {% endcomment %}
                            <div class="col-lg-6">
            
                                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner">
                                              <div class="carousel-item active">
                                                <img class="d-block w-100" src="{% static 'assets/imgs/slider/login2.jpeg'%}" alt="First slide">
                                            </div>
                                    </div>
                              </div>
  
                    </div>
                </div>
            </div>
        </section>
    </main>
 {% endblock %}
    