{% extends 'paymenthome/base.html' %}

{% load static %}

{% block content %}

 <main>


  <!-- Hero Area Start-->
  <div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                  <br>
                    <div class="hero-cap text-center">
                        <h2>ORDERS BY PRODUCT DETAILS</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!--================Cart Area =================-->
<section class="cart_area section_padding">
  

  <div class="container">
    

{% comment %} {% if not orders %}
<h2 class="text-center">Your OrderList is empty</h2>
<br>
<div class="text-center">
<a href="{% url 'store'%}" class="btn_1">Continue shopping</a>
</div>
{% else %} {% endcomment %}

{% comment %} <div class="row">
  <div class="col-md-10 ms-5 mt-4">
<table class="table caption-top">  {% endcomment %}
  <div class="cart_inner">
    <div class="table-responsive">
      <table class="table">
        <div class="row">
            <div class="col-md-10 ms-5 mt-4">
        <table class="table caption-top">
            <!-- <caption>List of categories</caption> -->
            <thead>
              <tr>

                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Brand</th>
                <th scope='col'>Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
        
              </tr>
            </thead>
            <tbody>
                {% for o in myorder %}
              <tr>
                <td><a ><img src="{{MEDIA_URL}}{{o.product.images.url}} " class="img-fluid rounded-start" alt="Image" width="150" height="100"></a></td>
                <td style="justify-content: center;">{{o.product}}</td>
                <td style="justify-content: center;">{{o.product.brand}}</td>
                <td style="justify-content: center;">{{ o.quantity}}</td>
                <td style="justify-content: center;">₹{{ o.product_price}}</td>
                <td style="justify-content: center; color: {% if o.order.status == 'New' %}blue{% elif o.order.status == 'Pending' %}orange{% elif o.order.status == 'Shipped' %}brown{% elif o.order.status == 'Delivered' %}green{% elif o.order.status == 'Cancelled' %}red{% endif %}">{{ o.order.status }}</td>
                
                
            </tr>      
            
            
                {% endfor %}

            </tbody>
          </table>
            </div>
        </div>

    </div>
</div>
</section>

{% endblock %}