{% extends 'userhome/base.html'%}
{% load static %}
{% block content %}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Checkout
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="toggle_info">
                        <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                    </div>
                    <div class="panel-collapse collapse coupon_form " id="coupon">
                        <div class="panel-body">
                            <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                            <form method="post">
                                <div class="form-group">
                                    <input type="text" placeholder="Enter Coupon Code...">
                                </div>
                                <div class="form-group">
                                    <button class="btn  btn-md" name="login">Apply Coupon</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="divider mt-50 mb-50"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-25">
                        <h4>Billing Details</h4>
                    </div>
                    
                    <div>
                        {% if selected_address %}
                        <div>
                            <h5>Selected Address</h5>
                            <p>Name: {{ selected_address.name }}</p>
                            <p>Address: {{ selected_address.address }}</p>
                            <p>Phone: {{ selected_address.phone }}</p>
                            <p>District: {{ selected_address.district }}</p>
                            <p>Pincode: {{ selected_address.pincode }}</p>
                        </div>
                    {% elif new_address %}
                        <div>
                            <h5>New Address</h5>
                            <p>Name: {{ new_address.name }}</p>
                            <p>Address: {{ new_address.address }}</p>
                            <p>Phone: {{ new_address.phone }}</p>
                            <p>District: {{ new_address.district }}</p>
                            <p>Pincode: {{ new_address.pincode }}</p>
                        </div>
                    {% endif %}

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="order_review">
                        <div class="mb-20">
                            <h4>Your Orders</h4>
                        </div>
                        <div class="table-responsive order_table text-center">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <form method="post" action="{% url 'payment' %}">
                                    {% for item in items%}
                                    <tr>
                                        <td class="image product-thumbnail"><img src="{{ item.product.image.url}}"  alt="#"></td>
                                        <td>
                                            <h5><a href="shop-product-full.html">{{ item.name }}</a></h5> <span class="product-qty">x {{item.quantity}}</span>
                                        </td>
                                        <td>${{item.total}}</td>
                                    </tr>
                                    {% endfor %}
                                    
                                   
                                    <tr>
                                        <th>Total</th>
                                        <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900">${{total }}</span></td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                        {% comment %} <div class="payment_method">
                            <div class="mb-25">
                                <h5>Payment</h5>
                            </div>
                            <div class="payment_option">
                                
                            </div>
                        </div> {% endcomment %}
                        <a href="#" class="btn btn-fill-out btn-block mt-30">Cash on delivery</a> 
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}