{% extends "adminhome/base.html" %}
{% load static %}
{% block content %}
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">color</h2>
           
        </div>
       
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form method='post' action='{% url "admin_color_insert" %}'>
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="product_name" class="form-label">color name</label>
                            <input type="text" placeholder="Type here" name='name' required="required" class="form-control" id="product_name" />
                        </div>
                      
                        <label for="product_color"  class="form-label">Color code</label>
                        <input type="color" required="required" name="code" class="form-control" id="product_color" />
                        {% if messages %}
                        <ul class="messages">
                          {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}


        

                        <div class="d-grid">
                            <button class="btn btn-primary">Add color</button>
                        </div>
                    </form>

                    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                    <script>
                        $(document).ready(function () {
                            $('#product_name').on('input', function () {
                                var name = $(this).val();
                                var slug = name.toLowerCase().replace(/\s+/g, '-').replace(/'/g, '');
                                $('#product_slug').val(slug);
                            });
                        });
                    </script>
                </div>

                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>
                                    </th>
                                    <th>color name</th>
                                    <th>color code</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for obj in data %}
                                    <tr>
                                        <td class="text-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" />
                                            </div>
                                        </td>
                                        <td>{{ obj.id }}</td>
                                        <td><b>{{ obj.color_name }}</b></td>
                                        <td class="text-end">
                                            <a href="{% url 'admin_color_edit' obj.id%}" class="btn btn-sm btn-warning rounded font-sm mt-15">Edit</a>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section> <!-- content-main end// -->
{% endblock %}
