{% extends "adminhome/base.html" %}
{% load static %}
{% block content %}
{% comment %} <section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Update Product</h2>
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form method='post' action='{% url "admin_product_edit" product.id %}' enctype="multipart/form-data">
                {% csrf_token %}
                 {{ product_form.as_p }}
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Name</label>
                            <input type="text" placeholder="Type here" name='name' value="{{ product.product_name }}" class="form-control" id="product_name" />
                        </div>
                        <div class="mb-4">
                            <label for="description" class="form-label">Description</label>
                            <textarea placeholder="Type here" name="description" class="form-control" id="description">{{ product.description }}</textarea>
                        </div>
                        <div class="mb-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" placeholder="Type here" name='price' value="{{ product.price }}" class="form-control" id="price" />
                        </div>
                        <div class="mb-4">
                            <label for="description" class="form-label">Offer Price</label>
                            <input placeholder="Type here" name="offer_price" class="form-control" id="offer_price" value="{{ product.offer_price }}"/>
                        </div>
                        <div class="mb-4">
                            <label for="stock" class="form-label">Stock</label>
                            <input type="number" placeholder="Type here" name="stock" value="{{ product.stock }}" class="form-control" id="stock" />
                        </div>
                        <div class="mb-4">
                            <label for="brand" class="form-label">Brand</label>
                            <select name="brand" class="form-control" id="product_brand">
                                {% for brand in brands %}
                                    <option value="{{ brand.id }}" {% if product.brand.id == brand.id %} selected {% endif %}>{{ brand.brand_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="category" class="form-label">Category</label>
                            <select name="category" class="form-control" id="product_category">
                                {% for category in categories %}
                                    <option value="{{ category.id }}" {% if product.category.id == category.id %} selected {% endif %}>{{ category.category_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="is_available" class="form-check-label">Available</label>
                            <input type="text" placeholder="Type here" name='is_available' value="{{ product.is_available }}" class="form-control" id="is_available" />
                        </div>
                        <div class="mb-4">
                            <label for="is_deleted" class="form-check-label">Deleted</label>
                            <input type="text" placeholder="Type here" name='is_deleted' value="{{ product.is_deleted }}" class="form-control" id="is_deleted" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Main Image</h4>
                            </div>
                            <div class="card-body">
                                {{ product_form.image.label_tag }}
                                {{ product_form.image }}
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" alt="Main Image Preview" style="max-width: 200px; max-height: 200px;">
                                    <input type="checkbox" name="delete_main_image" value="1"> Delete Main Image
                                {% endif %}
                            </div>
                        </div>
    
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Additional Images</h4>
                            </div>
                            
                            <div class="mb-4" id="additional-images-container">
                                {{ product_form.images.label_tag }}
                                {{ product_form.images }}
                                {% for img in product.product_image.all %}
                                    <div class="image-container">
                                        <img src="{{ img.images.url }}" alt="Additional Image Preview" style="max-width: 200px; max-height: 200px;">
                                        <input class="form-control mt-2" name='image_{{ img.id }}' type="file">
                                        <input type="checkbox" class="delete-image-checkbox" name="delete_image_{{ img.id }}" value="1"> Delete
                                    </div>
                                {% endfor %}
                                <button type="button" id="add-image-btn" class="btn btn-primary mt-2">Add Images</button>
                            </div>
                        </div>
                    </div>
    
                <div class="d-grid">
                    <button class="btn btn-primary">Update Product</button>
                </div>
            </form>

            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
            <script>
                $(document).ready(function () {
                    // Add Images button functionality
                    document.getElementById('add-image-btn').addEventListener('click', function () {
                        var container = document.getElementById('additional-images-container');
                        var newInput = document.createElement('input');
                        newInput.className = 'form-control mt-2';
                        newInput.name = 'new_images';
                        newInput.type = 'file';
                        newInput.setAttribute('multiple', 'true');
                        container.appendChild(newInput);
                    });

                    // Delete Image checkboxes functionality
                    var deleteCheckboxes = document.getElementsByClassName('delete-image-checkbox');
                    for (var i = 0; i < deleteCheckboxes.length; i++) {
                        deleteCheckboxes[i].addEventListener('change', function () {
                            var container = this.closest('.image-container');
                            if (this.checked) {
                                container.style.display = 'none'; // Hide the container
                            } else {
                                container.style.display = 'block'; // Show the container
                            }
                        });
                    }
                });
            </script>
        </div>
    </div> <!-- card body .// -->
</section> <!-- content-main end// -->

{% endblock %} {% endcomment %}

 <section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Update Product</h2>
            
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
                    <form method='post' action='{% url "admin_product_edit" product.id %}' enctype="multipart/form-data">
                        {% csrf_token %}
                        {% comment %} {{ product_form.as_p }} {% endcomment %}

                     <div class="row">
                        <div class="col-lg-5">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Name</label>
                                <input type="text" name="product_name" value="{{ product_form.instance.product_name }}" class="form-control" id="product_name">   
                            </div>
                            <div class="mb-4">
                                <label for="descriptione" class="form-label">description</label>
                                <input type="text" name="description" value="{{ product_form.instance.description }}" class="form-control" id="description">   
                                
                            </div>
                            <div class="mb-4">
                                    <label for="brand" class="form-label">Brand</label>
                                    <select name="brand" class="form-control" id="brand">
                                        {% for brand in brands %}
                                            <option value="{{ brand.id }}" {% if product_form.instance.brand.id == brand.id %} selected {% endif %}>{{ brand.brand_name }}</option>
                                        {% endfor %}
                                    </select>

                            </div>
                            <div class="mb-4">
                                <label for="category" class="form-label">Category</label>
                                <select name="category" class="form-control" id="category">
                                    {% for category in categories %}
                                        <option value="{{ category.id }}" {% if product_form.instance.category.id == category.id %} selected {% endif %}>{{ category.category_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-4">
                                <label for="is_available" class="form-label">Available</label>
                                <input type="text" name="is_available" value="{{ product_form.instance.is_available }}" class="form-control" id="is_available">   
                            </div>
                            <div class="mb-4">
                                <label for="is_deleted" class="form-label">is_deleted</label>
                                <input type="text" name="is_deleted" value="{{ product_form.instance.is_deleted }}" class="form-control" id="is_deleted">   

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Media</h4>
                                </div>
                                
                        
                                <div class="card-body" id="new-images-container">
                                    {{ formset.management_form }}
                                    {% for form in formset %}
                                        {{ form.as_table }}
                                        <!-- Display Existing Images -->
                                        {% for img in form.instance.product_image.all %}
                                            <div class="card mb-2">
                                                <div class="card-body">
                                                    <img src="{{ img.images.url }}" alt="Existing Image" style="max-width: 200px; max-height: 200px;">
                                                    <button type="button" class="btn btn-danger delete-image-btn" data-image-id="{{ img.id }}">
                                                        Delete Image
                                                    </button>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div> 
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary">update Product</button>
                        </div>
                     </div>
                    </form>
                    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                    {% comment %} <script>
                        $(document).ready(function () {
                            $('#add-image-btn').on('click', function () {
                                var container = $('#new-images-container');
                                var newInput = $('<input>', {
                                    class: 'form-control',
                                    name: 'new_images',
                                    type: 'file'
                                });
                                container.append(newInput);
                            });
                    
                            // Delete Image checkboxes functionality
                            $('.delete-image-checkbox').on('change', function () {
                                var container = $(this).closest('.image-container');
                                if (this.checked) {
                                    container.hide(); // Hide the container
                                } else {
                                    container.show(); // Show the container
                                }
                            });
                        });
                    </script> {% endcomment %}
                    <script>
                        $(document).ready(function () {
        
                            $('#add-image-btn').on('click', function () {
                                var container = $('#new-images-container');
                                var newInput = $('<input>', {
                                    type: 'file',
                                    name: 'new_images',
                                    class: 'form-control',
                                });
                                container.append(newInput);
                            });
        
                            // Delete Image buttons functionality
                            $('.delete-image-btn').on('click', function () {
                                var imageId = $(this).data('image-id');
                                var container = $(this).closest('.image-container');
                                var deleteInput = $('<input>', {
                                    type: 'hidden',
                                    name: 'delete_image_' + imageId,
                                    value: 'on'
                                });
                                container.append(deleteInput);
                                container.hide(); // Hide the container
                            });
                        });
                    </script>
                    
            </div>
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section> <!-- content-main end// -->

{% endblock %}