
{% load static %}
<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="{% static 'assets1/imgs/theme/lo1.png' %}" class="logo" alt="CRONICO Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="{% url 'admin_index' %}"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="{% url 'admin_category' %}"> <i class="icon material-icons md-store"></i>
                        <span class="text">Category</span>
                    </a>
                     <div class="submenu">
                        <a href="{% url 'admin_category' %}">Category list</a>
                        <a href="{% url 'admin_brand' %}">Brand list</a>
                        <a href="{% url 'admin_color' %}">Color </a>
                        
                    </div> 
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="{% url 'admin_product'%}">Product List</a>
                        <a href="{% url 'admin_varient'%}">varient List</a>
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Customer</span>
                    </a>
                    <div class="submenu">
                        <a href="{% url 'customers'%}">Customer llist</a>
                        
                    </div>
                </li>
                
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Order</span>
                    </a>
                    <div class="submenu">
                        <a href="{% url 'order' %}">Order</a>
                    
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Offer & Coupon</span>
                    </a>
                    <div class="submenu">
                        <a href="{% url 'product-offers' %}">Product Offer</a>
                        <a href="{% url 'category-offers'  %}">Category Offers</a>
                        <a href="{% url 'admin_coupon'  %}">Coupon</a>
                    
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Banner</span>
                    </a>
                    <div class="submenu">
                        <a href="{% url 'admin_banner'%}">banner</a>
                        
                    </div>
                </li>
                
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="{% url 'admin_logout'%}">Logout</a>
                    
                        
                    </div>
                </li>
               

            <br>
            <br>
        </nav>
    </aside>

    
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguag3q1e">
                            <a class="dropdown-item text-brand" href="#"><img src="{% static 'assets1/imgs/theme/flag-us.png' %}" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="{% static 'assets1/imgs/theme/flag-fr.png' %}" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="{% static 'assets1/imgs/theme/flag-jp.png' %}" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="{% static 'assets1/imgs/theme/flag-cn.png' %}" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="{% static 'assets/imgs/people/avatar2.jpg' %}" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="{% url 'admin_logout'%}"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>